<div class="jumbotron jumbotron-fluid">
  <div class="container d-flex justify-content-center">
    <h1 class="display-4">Create your cocktail</h1>
  </div>
</div>
<br>
<div class="row d-flex mb-5 justify-content-center">
  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
  <% end %>
</div>
<div class="row d-flex mb-5 justify-content-center">
  <%= link_to cocktails_path do %>
    <div class="btn btn-ghost">
      <span>Back to cocktail list</span>
    </div>
  <% end %>
</div>
